#content {
    display: block;
    position: relative;
    width: 390px;
    height: 844px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    background-color: black; 
}

.appTitle {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 0px; 
    width: max-content; 
    height: max-content;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#appTitleLogo {
    position: absolute; 
    top: 110px; 
    width: 200px;
    height: 200px; 
}

#appTitleText1 {
    position: absolute; 
    top: 0px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #287fbe;
    font-size: 50px;
}

#appTitleText2 {
    position: absolute;  
    top: 290px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #287fbe;
    font-size: 20px;
}

#appTitleText3 {
    position: absolute;  
    top: 280px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 184, 53);
    font-size: 80px;
}

.button {
    position: absolute;
    border-style: solid;
    width: 200px;
    border-width: 3px;
    border-color: darkgrey;
    border-radius: 7px;
    padding: 15px 32px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    font-size: 20px;
}
.Stufe1 {
    top: 500px;
    background-color: green;
}

.Stufe2 {
    top: 600px; 
    background-color: orange
}

.Stufe3 {
    top: 700px;
    background-color: red;  
}

#points {
    display: inline;
    position: absolute;
    right: 5px;
    bottom: 0px;
    height: 30px;
    width: max-content; 
    background-color: black;
    color: #287fbe;
    text-align: center;

    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

#translationGerman {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: max-content; 
    height: max-content;
    max-width: 300px;
    flex-wrap: wrap;
    text-align: center;
    top: 150px; 
    border-style: solid;
    border-width: 3px;
    border-color: rgb(62, 158, 50);
    border-radius: 7px;
    padding: 7px 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(62, 158, 50);
    background-color: black;
}
#flexspanish {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    max-width: 300px; 
    height: max-content;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    top: 160px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(62, 158, 50);
    border-radius: 7px;
    padding: 7px 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(62, 158, 50);
    opacity: 0;
}

#taskText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    position: relative;
    font-size: 20px;
    color: rgb(234, 234, 234);
    top: 180px; 
}

#flexwords {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 200px; 
    width: 300px; 
    height: 350px; 
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(62, 158, 50);
    gap: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



#word0, #word1, #word2, #word3, #word4, #word5, #word6, #word7, #word8 {
    position: relative;
    border-style: solid;
    width: max-content;
    min-width: 150px;
    border-width: 3px;
    border-color: darkgrey;
    border-radius: 7px;
    padding: 15px 32px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    font-size: 20px;
    color: #287fbe;
    background-color: black;
}

#goonbutton {
    position: relative;
    border-style: solid;
    width: 130px;
    border-width: 3px;
    border-color: darkgrey;
    border-radius: 7px;
    padding: 15px 32px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    font-size: 20px;
    color: #287fbe;
    background-color: black;
}

#finalText {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 200px; 
    width: 300px; 
    height: max-content; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#headText1 {
    color: rgb(62, 158, 50);
}

#headText2 {
    font-size: 25px;
    color: rgb(62, 158, 50);
}

#headText3 {
    position: relative;
    top: 130px; 
    font-size: 25px;
    color: #287fbe;
}

#againButton {
    position: relative;
    border-style: solid;
    width: max-content;
    border-width: 3px;
    border-color: darkgrey;
    border-radius: 7px;
    padding: 15px 32px;
    top: 150px; 
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    font-size: 20px;
    color: white;
    background-color: black;

}

#bar {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 150px; 
    border-style: solid;
    border-width: 3px;
    border-color: #287fbe;
    border-radius: 7px;
}

#innerBar {
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0px;
    bottom: 0px;
    height: 30px;
    max-width: 150px; 
    background-color: orange;
}

#bartext {
    position: relative;
    color: #287fbe;
    bottom: 0px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: darkgray;
    opacity: 0,9;
    display: inline;
    text-align: center;
}