#content {
    position: relative;
    width: 390px;
    height: 844px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
}

.apptitle {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    color: #287fbe;
    gap: 5px;
    background-color: black;

}